// Fonts
$font-main: 'Oswald', Arial, sans-serif;

// Colors
$outer-space: #2f3739;
$darkslategray: #2a3133;
$albescent-white: #f1e1c4;
$pomegranate: #f04133;
$sushi: #68a035;

$lvl-1: #808080;
$lvl-2: #11b288;
$lvl-3: #207ac7;
$lvl-4: #c440da;
$lvl-5: #ffb93b;