.button {
  background: transparent;
  border: rem(3px) solid $albescent-white;
  color: $albescent-white;
  display: block;
  padding: rem(6px) rem(24px);
  text-transform: uppercase;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out;

  &:hover {
    background: $albescent-white;
    color: $outer-space;
  }
  
  &--debug {
    display: inline-block;
    padding: rem(4px) rem(8px);
  }
  
  &--modal {
    border-color: $pomegranate;
    color: $pomegranate;
    
    &:hover {
      background: $pomegranate;
      color: $albescent-white;
    }
  }
}