.card {
  @include fx(row nowrap, center, stretch);
  border: rem(3px) solid $albescent-white;
  border-radius: rem(5px);
  box-shadow: $darkslategray rem(3px) rem(3px) 0;
  position: relative;
  transition: transform .25s ease-in-out;

  &[data-hero-level] {
    border-color: $lvl-1;
  }
  &[data-hero-level="2"] {
    border-color: $lvl-2;
  }
  &[data-hero-level="3"] {
    border-color: $lvl-3;
  }
  &[data-hero-level="4"] {
    border-color: $lvl-4;
  }
  &[data-hero-level="5"] {
    border-color: $lvl-5;
  }

  &[data-type] {
    cursor: pointer;

    &:hover {
      animation: floating 1.5s linear 0s infinite alternate both;
      backface-visibility: hidden;
    }

    @keyframes floating {
      0% {
        box-shadow: $darkslategray rem(3px) rem(3px) 0;
        transform: scale(1) perspective(1px);
      }
      
      100% {
        box-shadow: $darkslategray rem(6px) rem(6px) 0;
        transform: scale(1.05) perspective(1px);
      }
    }

    .card__inner {
      background-size: cover;
      background-position: center center;
    }
  }

  &[data-type="enemy"] {
    .card__item {
      display: none;
    }
  }

  &[data-type="item"] {
    .card__item {
      position: relative;

      .card__value {
        @include fx();
        @include position(auto, auto, 0, 50%);
        background: $outer-space;
        border: rem(2px) solid $albescent-white;
        border-radius: 50%;
        font-size: rem(14px);
        height: rem(28px);
        line-height: 1;
        transform: translate(25%, 25%);
        width: rem(28px);
      }
    }
  }

  &[data-done="true"] {
    pointer-events: none;
    filter: grayscale(1);
  }
  
  &__holder {
    @include fx(row nowrap, center, stretch);
    border: rem(3px) solid $outer-space;
    border-radius: rem(3px);
    width: 100%;
  }
  
  &__inner {
    @include fx(column nowrap);
    background: $albescent-white;
    border-radius: rem(3px);
    color: $outer-space;
    width: 100%;
  }

  &__item {
    @include fx();
    background: $outer-space;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    color: $albescent-white;
    font-size: rem(20px);
    height: rem(50px);
    margin-bottom: auto;
    margin-top: auto;
    padding: 0 rem(8px);
    text-transform: uppercase;
    width: rem(50px);
  }

  &__damage,
  &__type {
    @include fx();
    @include position(auto, 0, 0, auto);
    background: $outer-space;
    border: rem(2px) solid $albescent-white;
    border-radius: 50%;
    font-size: rem(14px);
    height: rem(28px);
    line-height: 1;
    transform: translate(25%, 25%);
    width: rem(28px);
  }
  
  &__type {
    @include position(auto, auto, 0, 0);
    background-size: cover;
    background-position: center center;
    transform: translate(-25%, 25%);
  }
}