.player {
  @include fx(column nowrap);
  border: rem(3px) solid $albescent-white;
  padding: 0 rem(16px) rem(48px);
  position: relative;
  text-align: center;
  
  &__picture {
    background: $outer-space;
    border: rem(3px) solid $albescent-white;
    margin-top: rem(-66px);
    padding: rem(3px);
    position: relative;

    img {
      width: rem(120px);
    }
  }

  &__debuffs {
    @include fx();
    @include position(auto, auto, 0, 50%);
    transform: translate(-50%, 50%);
  }

  &__debuff {
    background-size: cover;
    background-position: center center;
    border: rem(2px) solid $albescent-white;
    border-radius: 50%;
    height: rem(28px);
    margin: rem(3px);
    width: rem(28px);
  }

  &__name {
    text-transform: uppercase;
    margin: rem(16px) 0;
  }
  
  &__life {
    align-self: stretch;
    border: rem(3px) solid $albescent-white;
    padding: rem(3px);
    position: relative;
    margin-bottom: rem(16px);
    z-index: 0;
  }

  &__bar {
    @include position(rem(3px),rem(3px),rem(3px),rem(3px));
    background: $pomegranate;
    z-index: -1;
    
    &--current {
      background: $sushi;
      right: auto;
      width: 80%;
    }
  }

  &__item {
    @include position(auto, auto, 0, 50%);
    background: $outer-space;
    border: rem(2px) solid $albescent-white;
    height: rem(74px);
    padding: rem(3px);
    transform: translate(-50%, 50%);
    width: rem(74px);

    .shadow {
      height: rem(64px);
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &__damage {
    @include fx();
    @include position(50%, 0, auto, auto);
    background: $albescent-white;
    border-radius: 50%;
    color: $outer-space;
    font-size: rem(14px);
    height: rem(24px);
    line-height: 1;
    transform: translate(50%, -50%);
    width: rem(24px);
    z-index: 0;
  }
}