doctype html
html(lang="en")
  include includes/_head.pug
  body
    include includes/_header.pug

    main.main
      .container
        .row.align-items-center
          .col-12.col-sm-3
            <!-- BEGIN PLAYER -->
            div(data-hero)
            <!-- END PLAYER -->

            .console.shadow.shadow--inner
              h2.console__title Debugbar
              div(data-debug)
                a.button.button--debug(href="demo.html" target="_blank" data-tippy-content="Check final HTML elements") Demo HTML

          .col-12.col-sm-9
            <!-- BEGIN BOARD -->
            div.board(data-board)
            <!-- END BOARD -->


    .modal(data-modal)
    
    include includes/_footer.pug
