@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/aos/src/sass/aos";
@import "../../node_modules/tippy.js/dist/tippy";

// Helpers
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/rem";
@import "helpers/spacing";
@import "helpers/svg";

// Components
@import "components/header";
@import "components/footer";
@import "components/main";
@import "components/hero";
@import "components/board";
@import "components/card";
@import "components/shadow";
@import "components/console";
@import "components/button";
@import "components/tippy-box";
@import "components/modals";

body {
  @include fx(column nowrap, flex-start, stretch);
  @include position(0,0,0,0);
  @include rem-baseline;
  background: $outer-space;
  color: $albescent-white;
  font-family: $font-main;
  font-weight: normal;
  line-height: 1.5;
  
  @include media-breakpoint-down(sm) {
    font-size: 100% / 16px * 14px;
  }
}

a:hover {
  text-decoration: none;
}